@import "tailwindcss";

@variant dark {
  &:where(.dark, .dark *) {
    @slot;
  }
}

@layer base {
  html,
  body {
    @apply h-full;
  }

  body {
    @apply bg-white text-gray-800 dark:bg-neutral-900 dark:text-gray-100 antialiased;
  }
}

@layer utilities {
  .scroll-mt-header {
    scroll-margin-top: 5rem;
  }
}
